<div class="container">
  <div class="row justify-content-center">
    <div class="col-12">
      <div class="card rounded-3 text-black">
        <div class="row justify-content-center">
          <div class="col-6">
            <div class="card-body p-5 mx-4">
              <div class="text-center">
                <img src="/assets/bill_318-646088.jpg" alt="logo" style="width: 185px;">
                <!-- <i class="bi bi-door-open-fill" style="width: 185px;"></i> -->
                <h4 class="mt-1 mb-5 pb-1">Connexion</h4>
              </div>

              <form [formGroup]="form" (ngSubmit)="login()">
                <p>Veuillez vous connecter</p>

                <div class="form-outline mb-4">
                  <label class="form-label" for="email">Email</label>
                  <input type="email" id="email" formControlName="email" class="form-control" placeholder="Email"/>
                </div>

                <div class="form-outline mb-4">
                  <label class="form-label" for="password">Password</label>
                  <input type="password" id="password" formControlName="password" class="form-control" placeholder="Password"/>
                </div>

                <div class="text-center pt-1 mb-5 pb-1">
                  <button class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" type="submit">Se connecter</button>
                </div>

                <div class="d-flex align-items-center justify-content-center pb-2">
                  <p class="mb-0 me-2">Pas de compte?</p>
                  <button routerLink="register" type="button" class="btn btn-outline-danger">
                    Créer un compte
                  </button>
                </div>
              </form>
            </div>
          </div>
          <div class="col-6 align-items-center">
            <div class="px-3 p-5 mx-4">
              <img src="https://vl-media.fr/wp-content/uploads/2022/03/Picsou-75-ans-anniversaire-Disney-Carl-Barks-La-Bande-a-Picsou-Picsou-Magazine-1024x694.jpg" class="img-fluid rounded" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
