<header>
  <nav class="nav justify-content-start align-items-center">
    <a class="nav-link active" routerLink="home"><img src="/assets/bill_318-646088.jpg" alt="logo" style="height: 50px;"></a>
    <a class="nav-link" routerLink="login">Connexion</a>
    <a class="nav-link" routerLink="register">Register</a>
    <a class="nav-link" routerLink="mynotes">Mes notes de frais</a>
    <a class="nav-link" routerLink="add">Créer une note de frais</a>
    <a class="nav-link" routerLink="all">Liste notes de frais</a>
    <a class="nav-link" routerLink="login" onclick="logout()">Se déconnecter</a>
  </nav>
</header>
