<div class="container">
  <div class="row justify-content-center">
    <div class="col-12">
      <div class="card rounded-3 text-black">
        <div class="row justify-content-center">
          <div class="col-6">
            <div class="card-body p-5 mx-4">
              <div class="text-center">
                <img src="/assets/bill_318-646088.jpg" alt="logo" style="width: 185px;">
                <h4 class="mt-1 mb-5 pb-1">Création de la note de frais</h4>
              </div>

              <form [formGroup]="formClaim" (ngSubmit)="addClaim()">
                <p>Veuillez saisir tout les champs</p>

                <div class="form-outline mb-4">
                  <label class="form-label" for="date">Date</label>
                  <input type="text" id="date" class="form-control" placeholder="jj/mm/aaaa"/>
                </div>

                <div class="form-outline mb-4">
                  <label class="form-label" for="company">Nom de la Société</label>
                  <input type="text" id="company" class="form-control" placeholder="nom de la compagnie..."/>
                </div>

                <div class="form-outline mb-4">
                  <label class="form-label" for="price">Prix</label>
                  <input type="number" id="price" class="form-control" placeholder=""/>
                </div>

                <div class="form-outline mb-4">
                  <label class="form-label" for="category">Catégorie</label>
                  <input type="text" id="category" class="form-control" placeholder=""/>
                </div>

                <div class="text-center pt-1 mb-5 pb-1">
                  <button class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" type="button">Créer</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
