<div class="container">
  <div class="d-flex justify-content-center">
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Status</th>
        <th scope="col">Date</th>
        <th scope="col">Category</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>

      <tr *ngFor="let claim of claims">
        <td>{{claim.status}}</td>
        <td>{{claim.date}}</td>
        <td>{{claim.category}}</td>
        <td><button class="btn btn-warning rounded-pill" style="width: 130px;" (click)="updateStatus(claim.id)">
          <i class="bi bi-pencil-square"></i>&nbsp; Edit
        </button></td>
      </tr>

    </tbody>
  </table>
  </div>
</div>
